@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "wMenu.css";
#wTutorial {
  flex-direction: column;
}
#wTutorial h2 {
  font-weight: bold;
  text-align: center;
}
#wTutorial a {
  text-decoration: none;
  color: #2065a2;
}
#wTutorial a:visited {
  color: #2065a2;
}
#wTutorial p {
  width: 70%;
  text-align: justify;
  margin: 1rem auto;
}

#wLobby {
  flex-direction: column;
}
#wLobby .middle .column h2 {
  margin-bottom: 0;
}
#wLobby .bottom form {
  height: 100%;
}
#wLobby .bottom form input {
  height: 100%;
  width: 30%;
  margin: 0 2%;
  padding: 0 2%;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: Ubuntu, sans-serif;
}

#wGame {
  flex-direction: column;
}
#wGame #piano {
  display: flex;
  justify-content: space-between;
}
#wGame #piano .key {
  width: calc(20vw - 0.5%);
  height: 80vh;
  border: solid black;
  border-top: none;
  border-radius: 0 0 15px 15px;
  position: relative;
  overflow: hidden;
  transition: background 400ms;
}
#wGame #piano span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
#wGame #piano #k0, #wGame #piano #k2, #wGame #piano #k4 {
  background-color: white;
}
#wGame #piano #k0 span.ripple, #wGame #piano #k2 span.ripple, #wGame #piano #k4 span.ripple {
  background-color: rgba(0, 0, 0, 0.7);
}
#wGame #piano #k1, #wGame #piano #k3 {
  background-color: black;
}
#wGame #piano #k1 span.ripple, #wGame #piano #k3 span.ripple {
  background-color: rgba(255, 255, 255, 0.7);
}

#wScore {
  flex-direction: column;
}
#wScore .middle .column {
  width: 40vw;
}
#wScore .middle .column ol {
  padding: 0 1rem 0 2rem;
}
#wScore .middle .column h1 {
  margin: 0;
  font-size: 40vh;
}
#wScore .middle .column h2 {
  margin-bottom: 0;
}

#warning-message {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#warning-message img {
  width: 95vw;
}
#warning-message button {
  padding: 5%;
  border-radius: 15px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, sans-serif;
}

.w {
  height: 100vh;
  width: 100vw;
}

.top {
  height: 20vh;
  width: 100vw;
  display: flex;
  background-color: #2065a2;
  color: white;
}
.top .content {
  width: calc(100vw - 40vh);
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
}
.top .content h1 {
  text-align: center;
  margin: auto;
}

.middle {
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
.middle .column {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middle .column ul {
  padding: 0;
  list-style-type: none;
}

.bottom {
  position: absolute;
  height: 20vh;
  width: 100vw;
  margin: 80vh 0 0 0;
  display: flex;
  justify-content: space-between;
  background-color: #2065a2;
}
.bottom .content {
  height: 50%;
  width: calc(100vw - 40vh);
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: white;
}
.bottom .btnBottom {
  height: 100%;
  padding: 0 2%;
  font-size: 1.2rem;
  color: black;
  background-color: white;
}

@media only screen and (max-height: 200px) {
  .bottom {
    height: 100vh;
    margin: 0;
  }
  .bottom .btnRec {
    height: 100vh;
    width: 100vh;
  }
  .bottom .content {
    width: calc(100vw - 200vh);
  }
}
button {
  font-family: Ubuntu, sans-serif;
  font-size: 2rem;
  color: white;
  background-color: #2065a2;
  border-style: none;
  border-radius: 5px;
}

.btnRec {
  width: 20vh;
  height: 20vh;
}

button:active {
  background-color: #022646;
}

#warning-message {
  display: none;
}
#warning-message .top h1 {
  width: auto;
  margin: auto;
}
#warning-message p {
  margin: 3% 3%;
  font-size: 1.2rem;
}

@media only screen and (orientation: portrait) {
  #wrapper {
    display: none;
  }

  #warning-message {
    display: flex;
  }
}
@media only screen and (orientation: landscape) {
  #warning-message {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
