#wLobby
  flex-direction: column

  .middle
    .column
      h2
        margin-bottom: 0


  .bottom

    form
      height: 100%

      input
        height: 100%
        width: 30%
        margin: 0 2%
        padding: 0 2%
        border: none
        border-radius: 5px
        font-size: 1.2rem
        font-family: Ubuntu, sans-serif
