#wScore
  flex-direction: column

  .middle
    .column
      width: 40vw

      ol
        padding: 0 1rem 0 2rem

      h1
        margin: 0
        font-size: 40vh

      h2
        margin-bottom: 0