#wTutorial
  flex-direction: column

  h2
    font-weight: bold
    text-align: center

  a
    text-decoration: none
    color: #2065a2
  a:visited
    color: #2065a2

  p
    width: 70%
    text-align: justify
    margin: 1rem auto